@font-face {
    font-family: "font";
    src: url("font.ttf");
}

body {
    background: #90eadf;
}

#buttons{
    width:0;
    height:0;
    border-left: 200px solid transparent;
    border-right:300px solid transparent;
    border-top: 300px solid transparent;
    border-radius: 0;
    position:absolute;
    margin:auto;
}

.button{
    height:50px;
    position:relative;
    background:#006680;
    text-align:center;
    font-size:30px;
    background-size: 1px 300%;
    -webkit-transition:0.5s;
    transition:0.5s;
    color:orange;
    font-family: "font", serif;
    cursor:pointer;
}

.button p{
    position:relative;
    top: 25%;
}
.button:hover{
    background:#7A0000;
    color:white;
    -webkit-transform:rotate(-1deg);
    transform:rotate(-2deg);
}


.bank .account {
    display: inline-block;
}

.bank {
    position: absolute;
    /*background-color: #7A0000;*/
    right: 5px;
    top: 5px;
}


#coin {
    content:url(pictures/pinpng.com-gold-coins-png-1735690.png);
    width: 40px;
    height: 40px;
}

#money {
    font-family: "font", serif;
    text-align:center;
    font-size:40px;
}

#menu{
    bottom:330px;
    right:200px;
    width:150px;
}

#earnMoney{
    bottom:410px;
    right:30px;
    width:450px;
}

#field{
    width: 70%;
    height: 70%;
    background: #e5e1c3;
    position: absolute;
    top: 15%;
    left: 15%;
    border: 10px #a47829 double;
    font-family: "font", serif;
    text-align: center;
}

#field p{
    text-align: center;
    position:relative;
}

.free{
    background: #b2b0b0;
    width: 28%;
    height: 41%;
    position: absolute;
    cursor:pointer;
    font-size: 70px;
}

#f1{
    top:6%;
    left:4%;
}

#f2{
    top: 6%;
    left: 36%;
}

#f3{
    top: 6%;
    right: 4%;
}

#f4{
    bottom: 6%;
    left: 4%;
}

#f5{
    bottom: 6%;
    left: 36%;
}

#f6{
    bottom: 6%;
    right: 4%;
}

.done{
    background: #d1f1f6;
    width: 28%;
    height: 41%;
    position: absolute;
    cursor:pointer;
    font-size: 30px;
    visibility: hidden;
}

#f11{
    top:6%;
    left:4%;
}

#f22{
    top: 6%;
    left: 36%;
}

#f33{
    top: 6%;
    right: 4%;
}

#f44{
    bottom: 6%;
    left: 4%;
}

#f55{
    bottom: 6%;
    left: 36%;
}

#f66{
    bottom: 6%;
    right: 4%;
}
.sub{
    width: 70%;
    height: 70%;
    background: #e5e1c3;
    position: absolute;
    top: 15%;
    left: 15%;
    border: 10px #a47829 double;
    font-family: "font", serif;
    font-size: 40px;
    text-align: center;
    visibility: hidden;
}

.sub label{
    position: relative;
    margin: 20px;
    top: 20px;
}

.sub input, select{
    font-family: "font", serif;
}


