@font-face {
    font-family: "font";
    src: url("font.ttf");
}

body {
    background: #5f6d8a;
}

#menu {
    left:50%;
    position:absolute;
    margin:auto;
    top:30%
}

#menu p{
    position:relative;
    top: 25%;
}

.name{
    font-family: "font", serif;
    font-size: 50px;
    color: #CFB687;
    text-align: center;
}

.button{
    position:relative;
    background: #1F325A;
    -webkit-transition:0.5s;
    transition:0.5s;
    color: #CFB687;
    font-family: "font", serif;
    cursor:pointer;
    height:70px;
    width:500px;
    text-align:center;
    font-size:30px;
    background-size: 1px;
    right: 50%;
}

.button:hover{
    background:#873224;
    color:white;
    -webkit-transform:rotate(-1deg);
    transform:rotate(-2deg);
}

.Pavel{
    position: absolute;
    margin: auto;
    width: 15%;
    right: 10%;
    top: 13%;
}
