@font-face {
    font-family: "font";
    src: url("font.ttf");
}

body {
    background: #90eadf;
}

#menu {
    left:50%;
    position:absolute;
    margin:auto;
    top:70%;
}

#menu p{
    position:relative;
    top: 25%;
}
.button{
    position:relative;
    background:#006680;
    -webkit-transition:0.5s;
    transition:0.5s;
    color:orange;
    font-family: "font", serif;
    cursor:pointer;
    height:50px;
    width:500px;
    text-align:center;
    font-size:30px;
    background-size: 1px 300%;
    right: 50%;
    bottom: 300px;
}
.button:hover{
    background:#7A0000;
    color:white;
    -webkit-transform:rotate(-1deg);
    transform:rotate(-2deg);
}
